.navbar-collapse .navbar-nav>.nav-item>.nav-link {
    margin: 0px 0px;
    color: rgb(23, 155, 243) !important;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: .9em !important;
    padding: 1em .5em 0 0 !important;
    -webkit-transition: font-size .1s;
    /* For Safari 3.1 to 6.0 */
    transition: font-size .1s;
}

.navbar-collapse .navbar-nav>.nav-item>.nav-link:hover {
    margin: 0px 0px;
    color: rgb(228, 19, 11) !important;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 1em !important;
}

.nav-item {
    font-weight: bold !important;
}

.popover.bs-tether-element-attached-top::after,
.popover.bs-tether-element-attached-top::before {
    left: 65%;
}

@media (max-width: 500px) {
    .navbar-collapse::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff !important;
        background-image: linear-gradient(to bottom, transparent 0%, rgba(112, 112, 112, 0) 60%, rgba(186, 186, 186, 0.15) 100%);
        display: block;
        content: "";
        z-index: 1;
    }
}