.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    border: 1px solid #ccc;
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border-radius: 0px;
}

.title {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    font-size: 25px;
    margin: 0 0 0 1em;
}

@media (max-width: 500px) {
    .heading {
        font-size: 15px;
        margin: 0 0 0 2em;
    }
}

.main {
    margin-top: 2em;
}