.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.card-header {
    color: white !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #5e50ad;
    font-size: 2em;
}

.title {
    color: white !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #5e50ad;
    font-size: 2em;
    padding: 2% 2%;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.heading {
    font-size: 25px;
}

@media (max-width: 600px) {
    .heading {
        font-size: 15px;
    }
}