.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    border: 1px solid #ccc;
}

.rounded.mx-auto.d-block {
    width: 60%;
}

a {
    color: #f8591f !important;
    font-weight: bold;
    font-size: 1em;
}

a:hover {
    color: #06b7f1 !important;
}