.btn {
  margin-right: 20px;
  padding: 0 5em 0 1em;
  text-align: left;
}

//Add a comment to this line
.modal-content {
  color: black;
  background-color: #B9CFDB;
  text-align: center;
  width: 100%;
}

.modal-footer {
  padding: 1em 0 1em 2em;
}