.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.card-header {
    background-color: #5e50ad;
    color: #fff !important;
    text-align: center;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.member {
    border: 20px solid rgba(228, 228, 228, 0.925);
    width: 100%;
    height: 500px;
    margin-top: 2em;
    margin-bottom: 6em;
}

.member-img img {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}

.member:hover {
    .detail1 {
        z-index: 1;
        margin-top: -9em;
        transform: scaleY(1.1);
        height: 200px
    }
    .detail2 {
        z-index: 1;
        margin-top: -9em;
        transform: scaleY(1.1);
        height: 200px
    }
    .message {
        margin-top: 1em;
        display: inline-block;
        font-size: 12px;
    }
}

.detail1 {
    background: linear-gradient(to right, #fff 0%, #7062b9 10%, #5b45c9 20%, #35248b 50%, #5b45c9 80%, #7062b9 90%, #fff 100%);
    margin-top: -2.2em;
    padding: 1em;
    height: 100px;
    position: relative;
    transition: all .4s ease-in-out;
}

.detail2 {
    background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);
    margin-top: -2.2em;
    padding: 1em;
    height: 100px;
    position: relative;
    transition: all .4s ease-in-out;
}

.name {
    text-align: center!important;
    padding-top: 20px;
    color: #fff;
    font-size: 18px!important;
    font-weight: 500!important;
    line-height: 1.2!important;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
}

.tagline {
    color: #fff;
    font-size: 100%!important;
    font-weight: 400!important;
    text-align: center!important;
}

.message {
    display: none;
    color: #fff;
}