<div class="main" style="margin-top: 1em!important;">

    <div class="section text-center">
        <div class="col-md-11 mr-auto ml-auto">
            <div class="card card-header">
                <span>
                        <i class="fa fa-users" style="margin-right: 2em" aria-hidden="true"></i>
                        About Us
                    </span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/lovely.jpg">
                        </div>
                        <div class="detail1">
                            <h4 class="name">Lovely Singh</h4>
                            <small class="tagline">CEO, CsquareEducation</small>
                            <p class="message">
                                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/rahul.jpg">
                        </div>
                        <div class="detail2">
                            <h4 class="name">Rahul Singh</h4>
                            <small class="tagline">Developer/Designer, CsquareEducation</small>
                            <p class="message">
                                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/shreyash.jpg">
                        </div>
                        <div class="detail1">
                            <h4 class="name">Shreyash Prashu</h4>
                            <small class="tagline">Developer, CsquareEducation</small>
                            <p class="message">
                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 mr-auto ml-auto">
                <div class="card">
                    <div class="card-header">
                        <span>
                                <i class="fa fa-cog" style="margin-right: 2em;" aria-hidden="true"></i>
                                Let's talk services
                        </span>
                    </div>
                    <div class="card-body">
                        <p>We started our journey with providing tuition classes in 2014. It was going perfect then after 2 years we realized with this way we will not be able to create BIG CHANGE! As we belive that education in India requires many modification,
                            so we came up with an idea of Home Tuition and Online Tuition. We are looking forward to bring more changes as we will be providing videos for students so that they can understand concept very well and in case if they miss
                            some topic, they can get video for the same which ultimately leads to much more understanding. We here at CsquareEducation are not working on creating more and more human labour or say educated labour but we are trying to bring
                            creative learning for student where they not only follow order but use their creativity to learn and adapt the skillset. As per our opinion students are not getting eductaion upto mark as today also our education system is
                            to fulfill requirement of industrial labour who just follow order and aren't allowed to use their own creativity. So we are bound to bring back the creativty of every child in India back so that they can decide their own future
                            but not our education system.</p>
                        <br>
                        <p>Csquareeducation Established in 2014 and from that day, we are a zero revenue generators and we seriously entered in to the Home Tuition business effectively from June, 2015. We have started our company as training institute and
                            slowly we have entered into home tuition. Initial days we have involved mostly on training class, but slowly Home Tuition business started getting more and more revenue and very good response from client. From June,2015 onwards
                            we have started focusing more on home tuition and this home tuition become primary business for us. We are proving home tuition in all over Bangalore from Nursery – to – Graduation along with all kind of board and Universities.
                            We are having tutors from 1 year – to – 20+ years of experience. As part of enrollment policy all tutors are verified by CsquareEducation and we are keeping their documents. Parents and tutor both are engaged in contract with
                            Csquareeducation before staring home tuition and we are responsible to take care of their issues and concern till they are associated with us. We successfully completed 1800 Parental clients and over 5000 Tutors from all over
                            the Bangalore at today’s date. The rate of success is growing day by day and this is the best time to expand our business. Where I have seen 100% result in the 2015 and very Extreme result of 200% Business has increased in
                            2016-17.
                        </p>
                        <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="card">
                                <div class="card-header">
                                    <span>
                                    <i class="nc-icon nc-atom" style="margin-right: 2em;"></i>Services
                                </span>
                                </div>
                                <div class="card-body">
                                    <p style="text-align:center; ">
                                        Home Tuition
                                        <br> Online Tuition
                                        <br> Question Paper
                                        <br> Home Tutor Jobs
                                        <br> Technical Training
                                        <br> Training for IT Jobs
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="card">
                                <div class="card-header">
                                    <span>
                                    <i class="nc-icon nc-bulb-63" style="margin-right: 2em;"></i>New Ideas
                                </span>
                                </div>
                                <div class="card-body">
                                    <p style="text-align:justify;">Lets share and help our community. The idea is to not let people do mistakes that we have done. Yes we should take risks and commit new mistakes. Send us your story and we will share it with world through our blog.
                                        So this way we can change the idea of thinking of coming generations. Our Education system needs to change.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="card">
                                <div class="card-header">
                                    <span>
                                    <i class="nc-icon nc-chart-bar-32" style="margin-right: 2em;"></i>Statistics
                                </span>
                                </div>
                                <div class="card-body">
                                    <p style="text-align:justify;">
                                        See our result. Our Conversion Rate, Our number of clients, Our followers. Keep record of everything that we are doing. So we can work together towards development of our society. And education is one of the most important factor for development of country
                                        or say for each individual. Today Education system in India need our help.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>