<div class="main" style="margin-top: 1em!important;">

    <div class="section text-center">
        <div class="col-md-11 mr-auto ml-auto">
            <div class="card card-header">
                <span>
                        <i class="fa fa-users" style="margin-right: 2em" aria-hidden="true"></i>
                        About Us
                    </span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/lovely.jpg">
                        </div>
                        <div class="detail1">
                            <h4 class="name">Lovely Singh</h4>
                            <small class="tagline">CEO, CsquareEducation</small>
                            <p class="message">
                                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/rahul.jpg">
                        </div>
                        <div class="detail2">
                            <h4 class="name">Rahul Singh</h4>
                            <small class="tagline">Developer/Designer, CsquareEducation</small>
                            <p class="message">
                                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/shreyash.jpg">
                        </div>
                        <div class="detail1">
                            <h4 class="name">Shreyash Prashu</h4>
                            <small class="tagline">Developer, CsquareEducation</small>
                            <p class="message">
                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 mr-auto ml-auto">
                <div class="card">
                    <div class="card-header">
                        Why Csquare Education?
                    </div>
                    <div class="card-body">
                        <p>
                            Csquare Education is an online portal for finding the home tutors for home tuition. Not only this, in fact, it is a place where to you can also register yourself as tutor. So, it is an online place for both the students and tutors. We provide highly qualified
                            home tutors in Bangalore at your door steps as per your convenience only. It does not matter for us whether you are searching for primary tuition or secondary one. Csquare Education is the one stop solution for all your problems
                            as we cater you with the experts and qualified tutors only as these tutors will play an important role in shaping the future of your kids.
                        </p>
                        <p>
                            We offer quality teaching to make the concepts clear in an easy and comprehensive manner for all the students. We understand the role of teacher and their crucial aspect for teaching the students and how teaching will make them understand the concepts.
                            It does not matter whether your kid is slow in his studies or he is a genius, we are ready to serve them with right guidance so that they can perform well and can outshine in the competition.
                        </p>
                        <div id="collapseExampleS1" [ngbCollapse]="!isCollapsedS1">
                            <p>
                                Our home tutors are available for home tuition as per the timings suited by the parents and kids. The experience of these private tutors will help them in recognizing the needs of every student and provide the best possible solution for their problems.
                                We offer the perfect blending of solution to cater the customized problems of students. Right guidance with right understanding along with proper attention is the key to success.
                            </p>
                            <p>
                                Nowadays, competition is getting tougher, therefore along with the students, parents are getting conscious for the performance of their kids. They keep pushing their wards towards to top the competition. However, Csquare Education has a different approach
                                as it believes that each and every kid is unique and has its own different potential. Our home tuition will understand the interests and talent of your kid and will polish those skills.
                            </p>
                            <h4>
                                Why us?
                            </h4>
                            <p>
                                You will get many coaching centre in your area that are providing guidance to many kids. But are they right for your kids? In fact, finding the right one is very difficult job as most of them claimed to be the best one but it is not necessary that they
                                will do best for your child. Your kids are worth of best guidance and mentoring to get place in the merit list.
                            </p>
                            <p>
                                Private tuition at your home give you the opportunity to ask your doubts without any hesitation. As there will no one around, so they will feel free to ask any questions. The positive and competitive approach of our tutors for home tuition in Bangalore
                                will motivate your kid to give their best in studies. The right guidance will help them to take a step close to the path of success.
                            </p>
                            <p>
                                Personal attention and customized doubt clearing sessions will motivate your kids to ask every question. This will help them in making all the concepts clear in their mind. The personal attention in private tuition for Class nursery to class XII will
                                polish the skills of students and will excel their excellence in the area of interests.
                            </p>
                            <p>
                                We aim at providing the best home tutors who have experience for your kids so that learning process will be easy for you and it will be fun for them. Each session will be well-planned in advance and will aim to make the students learn every concept with
                                no doubts in mind. Each session will be ensured that learning process is good. Our approach of teaching will clear all their doubts and performance will get better day by day.
                            </p>
                        </div>
                        <a role="button" (click)="isCollapsedS1 = !isCollapsedS1" [attr.aria-expanded]="!isCollapsedS1" aria-controls="collapseExampleS1">
                            <div class="icon icon-danger">
                                <p style="text-align:center!important;"><br>
                                    <button class="btn btn-primary" (click)="changeButton()">{{readMore}}</button>
                                </p>
                            </div>
                        </a>
                        <h4>
                            Our Approach
                        </h4>
                        <ul>
                            <li>Customize and plan each session of study</li>
                            <li>Difficult topics will be broken down into easy concepts</li>
                            <li>We believe in the fact that practice makes a man perfect and therefore we emphasize on practicing and revision of concepts.</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <span>
                                <i class="fa fa-cog" style="margin-right: 2em;" aria-hidden="true"></i>
                                Let's talk services
                        </span>
                    </div>
                    <div class="card-body">
                        <p>We started our journey with providing tuition classes in 2014. It was going perfect then after 2 years we realized with this way we will not be able to create BIG CHANGE! As we belive that education in India requires many modification,
                            so we came up with an idea of Home Tuition and Online Tuition. We are looking forward to bring more changes as we will be providing videos for students so that they can understand concept very well and in case if they miss
                            some topic, they can get video for the same which ultimately leads to much more understanding. We here at CsquareEducation are not working on creating more and more human labour or say educated labour but we are trying to bring
                            creative learning for student where they not only follow order but use their creativity to learn and adapt the skillset. As per our opinion students are not getting eductaion upto mark as today also our education system is
                            to fulfill requirement of industrial labour who just follow order and aren't allowed to use their own creativity. So we are bound to bring back the creativty of every child in India back so that they can decide their own future
                            but not our education system.</p>
                        <br>
                        <p>Csquareeducation Established in 2014 and from that day, we are a zero revenue generators and we seriously entered in to the Home Tuition business effectively from June, 2015. We have started our company as training institute and
                            slowly we have entered into home tuition. Initial days we have involved mostly on training class, but slowly Home Tuition business started getting more and more revenue and very good response from client. From June,2015 onwards
                            we have started focusing more on home tuition and this home tuition become primary business for us. We are proving home tuition in all over Bangalore from Nursery – to – Graduation along with all kind of board and Universities.
                            We are having tutors from 1 year – to – 20+ years of experience. As part of enrollment policy all tutors are verified by CsquareEducation and we are keeping their documents. Parents and tutor both are engaged in contract with
                            Csquareeducation before staring home tuition and we are responsible to take care of their issues and concern till they are associated with us. We successfully completed 1800 Parental clients and over 5000 Tutors from all over
                            the Bangalore at today’s date. The rate of success is growing day by day and this is the best time to expand our business. Where I have seen 100% result in the 2015 and very Extreme result of 200% Business has increased in
                            2016-17.
                        </p>
                        <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="card">
                                <div class="card-header">
                                    <span>
                                    <i class="nc-icon nc-atom" style="margin-right: 2em;"></i>Services
                                </span>
                                </div>
                                <div class="card-body">
                                    <p style="text-align:center; ">
                                        Home Tuition
                                        <br> Online Tuition
                                        <br> Question Paper
                                        <br> Home Tutor Jobs
                                        <br> Technical Training
                                        <br> Training for IT Jobs
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="card">
                                <div class="card-header">
                                    <span>
                                    <i class="nc-icon nc-bulb-63" style="margin-right: 2em;"></i>New Ideas
                                </span>
                                </div>
                                <div class="card-body">
                                    <p style="text-align:justify;">Lets share and help our community. The idea is to not let people do mistakes that we have done. Yes we should take risks and commit new mistakes. Send us your story and we will share it with world through our blog.
                                        So this way we can change the idea of thinking of coming generations. Our Education system needs to change.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="card">
                                <div class="card-header">
                                    <span>
                                    <i class="nc-icon nc-chart-bar-32" style="margin-right: 2em;"></i>Statistics
                                </span>
                                </div>
                                <div class="card-body">
                                    <p style="text-align:justify;">
                                        See our result. Our Conversion Rate, Our number of clients, Our followers. Keep record of everything that we are doing. So we can work together towards development of our society. And education is one of the most important factor for development of country
                                        or say for each individual. Today Education system in India need our help.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>