<div class="main" style="margin-top: 1em!important;">
    
    <div class="section text-center" style="background-color: rgb(255, 255, 255)!important;">
            <div class="col-md-11 mr-auto ml-auto">
                    <div class="card card-body" style="background-color:rgb(255, 255, 255);" >
                    <h2 class="title">About Us</h2></div>
                    <div class="row">
                        <div class="col-md-4">
                                <div class="card card-body" style="background-color:rgb(255, 255, 255);" >
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="#avatar"><img src="../assets/img/lovely.jpg" alt="..."></a>
                                </div>
                                <div class="card-block">
                                    <a href="#paper-kit">
                                        <div class="author">
                                            <h4 class="card-title">Lovely Singh</h4>
                                            <h6 class="card-category">CEO, Director</h6>
                                        </div>
                                    </a>
                                    <p class="card-description text-center">
                                    Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                                    </p>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="https://www.facebook.com/profile.php?id=1781766825" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-twitter"></i></a>                        
                                    <a href="https://www.linkedin.com/in/lovely-%D1%95%CE%B9%CE%B7g%D0%BD-07474637/" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                                </div>
                        </div>
            
                        <div class="col-md-4">
                                <div class="card card-body" style="background-color:rgb(255, 255, 255);" >
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="#avatar"><img src="../assets/img/rahul.jpg" alt="..."></a>
                                </div>
                                <div class="card-block">
                                    <a href="#paper-kit">
                                        <div class="author">
                                            <h4 class="card-title">Rahul Singh</h4>
                                            <h6 class="card-category">Designer & Developer</h6>
                                        </div>
                                    </a>
                                    <p class="card-description text-center">
                                    A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                                    </p>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="https://www.facebook.com/profile.php?id=100000539543350" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/Singh0394Rahul" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>                        
                                    <a href="https://www.linkedin.com/in/rahul-singh-53111281/" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                                </div>
                        </div>
            
                        <div class="col-md-4">
                                <div class="card card-body" style="background-color:rgb(255, 255, 255);" >
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="#avatar"><img src="../assets/img/shreyash.jpg" alt="..."></a>
                                </div>
                                <div class="card-block">
                                    <a href="#paper-kit">
                                        <div class="author">
                                            <h4 class="card-title">Shreyash Prashu</h4>
                                            <h6 class="card-category">Developer</h6>
                                        </div>
                                    </a>
                                    <p class="card-description text-center">
                                    The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                    </p>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="https://www.facebook.com/profile.php?id=100003180792945" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/shreyash_prashu" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>                        
                                    <a href="https://www.linkedin.com/in/shreyash-prashu-93aba6113/" class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-md-11 mr-auto ml-auto">
                <div class="card card-body" style="background-color:#fff;">
                <h2 class="title">Let's talk services</h2></div>
                <div class="card card-body" style="background-color:#fff;">
                <h5 class="description" style="text-align:justify; color:black; font-size:1em;">We started our journey with providing tuition classes in 2014. It was going perfect then after 2 years we realized with this way we will not be able to create BIG CHANGE!<br>

                    As we belive that education in India requires many modification, so we came up with an idea of Home Tuition and Online Tuition.<br> 
                    We are looking forward to bring more changes as we will be providing videos for students so that 
                    they can understand concept very well and in case if they miss some topic, they can get video for the same which ultimately leads to much more understanding.
                    We here at CsquareEducation are not working on creating more and more human labour or say educated labour but we are trying to 
                    bring creative learning for student where they not only follow order but use their creativity to learn and adapt the skillset. As per our opinion students are not getting eductaion upto mark as today also our education system is to fulfill requirement of
                    industrial labour who just follow order and aren't allowed to use their own creativity. So we are bound to bring back the creativty of every child in India back so that they can decide their own future but not our education system.</h5>
                <br>                              
                    <h5 class="description" style="text-align:justify; color:black; font-size:1em;">Csquareeducation Established in 2014 and from that day, we are a zero revenue generators and we seriously entered in to the Home Tuition business effectively from June, 2015.<br> We have started our company as training institute and slowly we have entered into home tuition. Initial days we have involved mostly on training class, but slowly Home Tuition business started getting more and more revenue and very good response from client. From June,2015 onwards we have started focusing more on home tuition and this home tuition become primary business for us.
                    We are proving home tuition in all over Bangalore from Nursery – to – Graduation along with all kind of board and Universities. We are having tutors from 1 year – to – 20+ years of experience. As part of enrollment policy all tutors are verified by CsquareEducation and we are keeping their documents. Parents and tutor both are engaged in contract with Csquareeducation before staring home tuition and we are responsible to take care of their issues and concern till they are associated with us.
                    <br>
                    <br>We successfully completed 1800 Parental clients and over 5000 Tutors from all over the Bangalore at today’s date. The rate of success is growing day by day and this is the best time to expand our business. Where I have seen 100% result in the 2015 and very Extreme result of 200% Business has increased in 2016-17.</h5>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                        <div class="card card-body" style="background-color:#fff;">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-atom"></i>
                    </div>
                    </div>
                    <div class="description">
                            <div class="card card-body" style="background-color:#fff;">
                        <h4 class="info-title">Services</h4><br>
                            </div>
                            <div class="card card-body" style="background-color:#fff;">
                        <p style="text-align:center; ">
                                        Home Tuition<br>
                                        Online Tuition<br>
                                        Question Paper<br>
                                        Home Tutor Jobs<br>
                                        Technical Training<br>
                                        Training for IT Jobs<br>
                                        </p>  
                                                                                                       
                                      
                            </div>                     
                                   <!-- <div class="collapse" id="collapseExample11">
                                     <div class="card card-body"style="text-align:justify;">                 
                                         Csquareeducation Established in 2014 and from that day, we are zero revenue generators and we seriously entered in to the Home Tuition business effectively from 2015 June. We have started our company as training institute and slowly we have entered home tuition. Initial day’s we have involved mostly on training class, but slowly Home Tuition business started getting more and more revenue and very good response from client. From 2015 June, on wards we have started focus more on home tuition and this home tuition become primary business for us.
                                         </div>
                                   </div> -->
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                        <div class="card card-body" style="background-color:#fff;">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    </div>
                    <div class="description">
                            <div class="card card-body" style="background-color:#fff;">
                        <h4 class="info-title">New Ideas</h4><br></div>
                        <div class="card card-body" style="background-color:#fff;">
                        <p style="text-align:justify;">Lets share and help our community. The idea is to not let people do mistakes that we have done.
                            Yes we should take risks and commit new mistakes. Send us your story and we will share it with world through our blog.
                            So this way we can change the idea of nad thinking of coming generations.
                        </p>
                        <!-- <a data-toggle="collapse" class="btn btn-link btn-danger" href="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
                                <div class="icon icon-danger">
                                        <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                                        </div>
                       </a>        -->
                        </div>                 
                       <!-- <div class="collapse" id="collapseExample12">
                         <div class="card card-body"style="text-align:justify;">                 
                             Csquareeducation Established in 2014 and from that day, we are zero revenue generators and we seriously entered in to the Home Tuition business effectively from 2015 June. We have started our company as training institute and slowly we have entered home tuition. Initial day’s we have involved mostly on training class, but slowly Home Tuition business started getting more and more revenue and very good response from client. From 2015 June, on wards we have started focus more on home tuition and this home tuition become primary business for us.
                             </div>
                       </div> -->
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                        <div class="card card-body" style="background-color:#fff;">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                        </div>
                    <div class="description">
                            <div class="card card-body" style="background-color:#fff;">
                        <h4 class="info-title">Statistics</h4><br></div>
                        <div class="card card-body" style="background-color:#fff;">
                        <p style="text-align:justify;">
                            See our result. Our Conversion Rate, Our number of clients, Our followers.
                            Keep record of everything that we are doing. So we can work together towards development of our society.
                            And education is one of the most important factor for development of country or say for each individual.
                        </p>                
                        </div>        
                       <!--  -->
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div> -->
        </div>
</div>

</div>
