.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.card-header {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 2em;
    color: #f8591f;
}

.title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-body {
    font-weight: bold;
}

:host /deep/ ng2-smart-table thead,
:host /deep/ ng2-smart-table tbody,
:host /deep/ ng2-smart-table tr,
:host /deep/ ng2-smart-table td,
:host /deep/ ng2-smart-table th {
    border-collapse: collapse !important;
    border: 1px solid #5da6fa !important;
}

:host /deep/ ng2-smart-table tr.ng2-smart-titles {
    background-color: rgb(235, 235, 235) !important;
}

:host /deep/ ng2-smart-table a.ng2-smart-sort-link.sort {
    font-weight: bold !important;
    color: #070000 !important;
}