<div class="main" style="margin-top:1em;">
    <div class="section text-center" style="background-color: rgb(255, 255, 255)!important;">
        <div class="col-md-11 mr-auto ml-auto">
            <div class="card title" style="background: linear-gradient(90deg, #00e4ce 31%, #00abc9 72%);padding:2% 2%;">
                Tutors Reviews who are enrolled with us
            </div>
            <div class="row">
                <div class="col-md-8">
                    <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test1">
                        <h4 class="name">Shubham Srivastava</h4>
                        <br>
                        <small class="tagline">Experience: 6 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            Luckily I got the opportunity to work here. Lots of memory attached as it is one of the unequaled institute I came across in near time as the environment, culture, care, academics, timeliness, punctuality is given utter importance. They have a great and
                            hardworking team and the prime thing is that the focus is on everyone. No one go unnoticed. I have seen lot of happy parents. Great work. #CsqaureEducation</p>

                    </div>
                    <div class="review-photo">
                        <img src="assets/review/Viky.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test2">
                        <h4 class="name">Vibhu</h4>
                        <br>
                        <small class="tagline">Experience: 6 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            It is really helpful for tutors and students also. I have been working for this organisation since 2015. I feel proud because i have been part of this organisation. Thank you so much CsquareEducation for being there for me and helping me to nurture my
                            knowledge.
                        </p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/vibhu.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test1">
                        <h4 class="name">Abhishek Singh</h4>
                        <br>
                        <small class="tagline">Experience: 4 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            I got an oppurtunity to work for CsquareEducation, can say ,Excellent institute.Hub of quality and highly qualified tutors.Strongly recommend to guardians.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/review/Abhishek.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test2">
                        <h4 class="name">Vikash</h4>
                        <br>
                        <small class="tagline">Experience: 11 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            CsquareEducation provides best and experienced tutor. It helps students to get good academic results. It provides best opportunity and flexy environment to tutors. It providdes equal studying opportunities to students and enhance their overall development.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/tutor_image/vikash.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test1">
                        <h4 class="name">Sinchana</h4>
                        <br>
                        <small class="tagline">Experience: 8 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            I am a B.E. graduate from mechanical department. I graduated from Oxford College of Engineering. I have teaching experience of 8 years as a home tutor in various reputed organization and i can take classes till 1st Year Engineering Students. I am friendly
                            to students and can handle different kind of students with ease.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/sinchana.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test2">
                        <h4 class="name">Anil</h4>
                        <br>
                        <small class="tagline">Experience: 8 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            It's my pleasure to be part of CsquareEducation. Also got a lot of opportunities to deal different kindof students.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/anil.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test1">
                        <h4 class="name">Vishal</h4>
                        <br>
                        <small class="tagline">Experience: 4 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            CsquareEducation is a great platform for students as well as tutors. It Provides a good learning experience and allows one to excel forward in their career. Thanks</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/vishal.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test2">
                        <h4 class="name">Apporva</h4>
                        <br>
                        <small class="tagline">Experience: 3 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            I have been working in CsquareEducation for about more than two years. It's good place to start as a tutor. Working hours are flexible and the environment is pretty good.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/apoorva.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test1">
                        <h4 class="name">Karthik</h4>
                        <br>
                        <small class="tagline">Experience: 1 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            CsquareEducation is the best home tutoring service provider in bangalore and an interactive platform for the students to enhance their aptitude, communication and analytical skills. CsquareEducation family has highly qualified tutors across bangalore
                            to provide the "best services" to our clients.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/karthik.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test2">
                        <h4 class="name">Shiv Chandan</h4>
                        <br>
                        <small class="tagline">Experience: 4 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            It has been an amazing journey with CsquareEducation as they are on right path to improve the quality of education provided in India. They provide great platform for both tutor and students to work together and improve their skills. Thank You CsquareEducation
                            for your services.</p>
                    </div>
                    <div class="review-photo">
                        <img src="assets/img/shiv.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                    <br>
                    <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                    <div class="review-test1">
                        <h4 class="name">Abhishek</h4>
                        <br>
                        <small class="tagline">Experience: 5 Years</small><br>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="bottom40">
                            CsquareEducation is best home tutoring service provider in bangalore as they provide interactive platform for tutors and they have their involvement in throughout process of tution. They are doing great job. Keep it up guys.</p>

                    </div>
                    <div class="review-photo">
                        <img src="assets/img/abhishek.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-header menu-title" style="margin-top: 1.6em;">
                        Question Papers:
                    </div>
                    <div class="card-body bg-transparent" routerLinkActive="active">
                        <ul>
                            <li class="menu-item">
                                <img src="assets/img-menu/question/questionpaperX.jpg" width="30" height="30">&nbsp;&nbsp;
                                <a [routerLink]="['/question']">Cbse Class 10 Question Paper</a>
                            </li>
                            <li class="menu-item">
                                <img src="assets/img-menu/question/questionpaperXII.jpg" width="30" height="30">&nbsp;&nbsp;
                                <a [routerLink]="['/question']">Cbse Class 12 Question Paper</a>
                            </li>
                            <li class="menu-item">
                                <img src="assets/img-menu/question/icsequestionpaperXII.jpg" width="30" height="30">&nbsp;&nbsp;
                                <a [routerLink]="['/question']">ICSE Class 10 Question Paper</a>
                            </li>
                            <li class="menu-item">
                                <img src="assets/img-menu/question/icsequestionpaperXII.jpg" width="30" height="30">&nbsp;&nbsp;
                                <a [routerLink]="['/question']">ICSE Class 12 Question Paper</a>
                            </li>
                            <li class="menu-item">
                                <img src="assets/img-menu/question/karnatakaboardX.jpg" width="30" height="30">&nbsp;&nbsp;
                                <a [routerLink]="['/question']">Karnataka Board 10 Question Paper</a>
                            </li>
                            <li class="menu-item">
                                <img src="assets/img-menu/question/karnatakaboardXII.jpg" width="30" height="30">&nbsp;&nbsp;
                                <a [routerLink]="['/question']">Karnataka Board 12 Question Paper</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-header menu-title">
                        Find Home Tuition For Your Syllabus:
                    </div>
                    <div class="card-body bg-transparent" routerLinkActive="active">
                        <ul *ngFor="let menu of syllabusMenuList">
                            <li class="menu-item">
                                <img src="{{menu.img}}" width="50" height="50">&nbsp;&nbsp;
                                <a role="button" (click)="buttonClick(menu.url)">Top 10 {{menu.menu_name}} Home Tutor</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-header menu-title">
                        Find Home Tuition For Your Grade:
                    </div>
                    <div class="card-body bg-transparent" routerLinkActive="active">
                        <ul *ngFor="let menu of classMenuList">
                            <li class="menu-item">
                                <img src="{{menu.img}}" width="50" height="50">&nbsp;&nbsp;
                                <a role="button" (click)="buttonClick(menu.url)">Top 10 {{menu.menu_name}} Home Tutor</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-header menu-title">
                        Find Home Tuition For Your Subject:
                    </div>
                    <div class="card-body bg-transparent" routerLinkActive="active">
                        <ul *ngFor="let menu of subjectMenuList">

                            <li class="menu-item">
                                <img src="{{menu.img}}" width="50" height="50">&nbsp;&nbsp;
                                <a role="button" (click)="buttonClick(menu.url)">Top 10 {{menu.menu_name}} Home Tutor</a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="card-header menu-title">
                        Find Home Tuitions For Your Locations:
                    </div>
                    <div class="card-body bg-transparent" routerLinkActive="active">
                        <ul *ngFor="let menu of locationMenuList">

                            <li class="menu-item" style="padding-left: 4px; text-align: justify!important;">
                                <a role="button" (click)="buttonClick(menu.url)">To 10 Home Tutor Near {{menu.menu_name}}</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>