.title {
    color: white !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    background: #00e4ce;
}

.card-header {
    border: 1px solid #ccc;
    color: #fff !important;
    text-align: center;
    font-size: 35px;
    border-radius: 0px !important;
    background-color: #5e50ad;
}

li {
    list-style: none;
    cursor: pointer;
}

.card-body {
    background-color: #fff !important;
    border: 1px solid #ccc;
    text-align: left;
    margin-bottom: 2em;
}

.menu-item {
    font-size: 14px;
}

.menu-title {
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-size: 18px!important;
    font-weight: bold;
}

a {
    color: #382f69 !important;
    font-weight: bold;
    font-size: 1em;
}

a:hover {
    color: #00bcd4 !important;
}

.checked {
    color: orange;
}

.fa {
    font-size: 25px;
}

.quoted1 .fa {
    height: 50px!important;
    width: 50px!important;
    background: #00bcd4;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    z-index: 1;
    position: relative;
    margin-top: 2%;
}

.review-test1 {
    background: #f6f6f6;
    padding: 4.25rem 2.5rem;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    text-align: justify;
    position: relative;
    transition: all .4s ease-in;
    margin-top: -20px;
}

.review-test1:hover {
    border: none;
    color: #fff!important;
    background: #00bcd4!important;
    .tagline {
        color: #fff;
    }
    .name {
        color: #fff;
    }
}

.quoted2 .fa {
    height: 50px!important;
    width: 50px!important;
    background: #5e50ad;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    z-index: 1;
    position: relative;
}

.review-test2 {
    background: #f6f6f6;
    padding: 4.25rem 2.5rem;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    text-align: justify;
    position: relative;
    transition: all .4s ease-in;
    margin-top: -20px;
}

.review-test2:hover {
    border: none;
    color: #fff!important;
    background: #5e50ad!important;
    .tagline {
        color: #fff;
    }
    .name {
        color: #fff;
    }
}

.review-photo img {
    height: 100px!important;
    width: 100px!important;
    margin-top: -50px!important;
    border-radius: 50%!important;
    display: inline-block!important;
    position: relative!important;
    z-index: 1;
}

.bottom40 {
    margin-bottom: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1em;
}

.name {
    text-align: center!important;
    color: #212331;
    font-size: 2em!important;
    font-weight: 500!important;
    line-height: 1.2!important;
    font-family: 'Raleway', sans-serif;
    margin-top: -40px;
}

.tagline {
    color: #00bcd4;
    font-size: 1em!important;
    font-weight: 400!important;
    margin-left: 42%;
    margin-top: -20px;
}

@media(max-width: 600px) {
    .tagline {
        margin-left: 36%;
    }
    .star {
        margin-left: 31%!important;
    }
}

.star {
    margin-left: 43%;
}