h2{
    margin-top: 5%;
    text-align: center;
    color:white;
    font-size: 4em;
}
h1{
    text-align: center;
    color:white;
    font-size: 4em;
}
.image{
    width:300px;
    height:150px;
    padding-left: 30%;
    float: center;  
    margin-top:3%;  
}
h4{
    font-size: 2em;
    color:white;
    padding-left: 30%;
}
p{
    font-size: 15px;
    color: white;
    padding-left: 22%;
}
.card-header {
    text-align: center;
    font-size: 2em;
    color:white !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #00e4ce 31%, #00abc9 72%);  
}
agm-map {
    height: 400px;
}