h2 {
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 4em;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em;
}

.image {
    width: 300px;
    height: 150px;
    padding-left: 30%;
    float: center;
    margin-top: 3%;
}

h4 {
    font-size: 2em;
    color: white;
    padding-left: 30%;
}

p {
    font-size: 15px;
    color: white;
    padding-left: 30%;
}

.card-header {
    text-align: center;
    font-size: 2em;
    color: white !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #5e50ad;
}

.btn-primary {
    background: #382f69;
    border: none;
    border-radius: 20px;
}

.btn-primary:hover {
    background: #00bcd4;
}

.btn-default {
    background: #643094;
    border: none;
    border-radius: 20px;
}

.btn-default:hover {
    background: #00bcd4;
}

agm-map {
    height: 400px;
}

.form-control {
    background-color: rgb(255, 255, 255);
}

@media(max-width: 600px) {
    .image {
        padding-left: 20%;
    }
    p {
        padding-left: 20%;
    }
}