.overlay {
    background: rgba(34, 34, 34, 0.701);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

h3 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-top: 0px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.icon-danger {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    text-align: center !important;
    color: #fff !important;
    margin-top: 1em;
    background: linear-gradient(to right, #fff 0%, #7062b9 10%, #5b45c9 20%, #35248b 50%, #5b45c9 80%, #7062b9 90%, #fff 100%);
    border-radius: 50%;
    margin-left: 20%;
}

.icon-danger:hover {
    background: #00bcd4;
}

.fa-3x {
    margin-top: .7em;
    margin-left: -8px;
    font-size: 30px;
}

.leftRs {
    display: none!important;
}

.rightRs {
    display: none!important;
}

.btn-primary {
    background-color: #35248b;
    border: 1px solid #35248b;
    font-size: 20px;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #00bcd4;
    border: 1px solid #00bcd4;
}

span {
    font-size: 12px;
}

:host /deep/ .ngucarouselPointDefault[_ngcontent-c4] .ngucarouselPoint[_ngcontent-c4] li[_ngcontent-c4] {
    background: #35248b!important;
}

:host /deep/ .ngucarouselPointDefault[_ngcontent-c4] .ngucarouselPoint[_ngcontent-c4] li.active[_ngcontent-c4] {
    background: #00bcd4!important;
}

@media(max-width:600px) {
    .overlay {
        margin: 0px;
        margin-top: -6em;
    }
    h1 {
        font-size: 10px;
    }
    h2 {
        font-size: 10px;
    }
    span {
        font-size: 8px;
    }
    h3 {
        font-size: 10px;
        padding: 10px;
    }
    .icon-danger {
        margin-left: 40%!important;
    }
    .head {
        margin-left: 10%;
    }
    .btn-primary {
        font-size: 12px;
    }
}