.navbar-collapse .navbar-nav>.nav-item>.nav-link {
    margin: 0px 0px;
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: .9em !important;
    padding: 1em .5em 0 0 !important;
    -webkit-transition: font-size .1s;
    /* For Safari 3.1 to 6.0 */
    transition: font-size .1s;
}

.navbar-collapse .navbar-nav>.nav-item>.nav-link:hover {
    margin: 0px 0px;
    color: rgb(23, 155, 243) !important;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 1em !important;
}

.nav-item {
    font-weight: bold !important;
}

.popover.bs-tether-element-attached-top::after,
.popover.bs-tether-element-attached-top::before {
    left: 65%;
}

@media (max-width: 500px) {
    .navbar-collapse::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff !important;
        background-image: linear-gradient(to bottom, transparent 0%, rgba(112, 112, 112, 0) 60%, rgba(186, 186, 186, 0.15) 100%);
        display: block;
        content: "";
        z-index: 1;
    }
}

.labelBtn {
    height: 70px;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    color: #f8591f !important;
    border: 1px solid #fff !important;
    background-color: #fff !important;
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Montserrat', sans-serif; // -webkit-transform: rotate(90deg);   
    // -moz-transform: rotate(90deg);
    // -ms-transform: rotate(90deg);
    // -o-transform: rotate(90deg);
    // transform: rotate(90deg);
}

.labelBtn:hover {
    height: 150px;
    background-color: #f8591f !important;
    border: 1px solid #f8591f !important;
    color: #fff !important;
    padding-top: 6em;
}

@media(max-width: 500px) {
    .btn-nav {
        display: none !important;
    }
}

.btn-danger {
    background-color: #f8591f;
    border-color: #f8591f;
}