.labelBtn {
    height: 40px;
    color: #fff !important;
    border: 1px solid #35248b;
    background-color: #35248b !important;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 1em;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    position: relative;
    z-index: 1000;
}

.labelBtn:hover {
    height: 150px;
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    color: #fff !important;
    padding-top: 6em;
    z-index: 1000;
}

.nav-link {
    position: relative;
    color: #fff!important;
}

.nav-link:hover {
    color: #fff!important;
    background-color: #00bcd4!important;
    border-radius: 20px;
    padding-right: 2px!important;
}

#logo {
    position: relative;
    margin-left: -12%;
}

#logo-head {
    width: 130px;
    margin-left: -5px;
}

.navbar-collapse::after {
    background-color: #35248b;
}

.navbar-collapse .navbar-nav>.nav-item>.nav-link {
    color: #fff !important;
}

.active {
    color: #fff!important;
    background-color: #00bcd4!important;
    border-radius: 20px;
    padding-right: 2px!important;
}

.nav-link:focus {
    outline: none!important;
}

.mobile {
    display: none;
}

@media(max-width: 900px) {
    .mobile {
        display: inline;
    }
    .labelBtn {
        margin-left: 5em;
        background-color: #00bcd4!important;
        border: 1px solid #00bcd4;
    }
}