<nav class="navbar navbar-expand-lg fixed-top">
    <div class="navbar-translate" id="nav">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="assets/img/cs-large.png" alt="home tuition bangalore, home tutor">
        </a>
        <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="row btn-nav" style="margin-left: 5em;">
            <a role="button" class="btn btn-danger btn-round btn-raised labelBtn" (click)="buttonClick('/studentForm')">&nbsp;Need Tutor?&nbsp;</a>
            <a role="button" class="btn btn-danger btn-round btn-raised labelBtn" (click)="buttonClick('/tutorForm')">&nbsp;&nbsp;Be A Tutor!&nbsp;&nbsp;</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div [routerLink]="['/home']" class="nav-link" (click)="menuToggle($event)">Home &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </li>
            <li class="nav-item">
                <div [routerLink]="['/about']" class="nav-link" (click)="menuToggle($event)">About Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://csquareeducation.com/blog/" target="_blank" class="nav-link">Blog &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
                <div [routerLink]="['/question']" class="nav-link" (click)="menuToggle($event)">Question Paper &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </li>
            <li class="nav-item">
                <a href="https://www.payumoney.com/paybypayumoney/#/293697" class="nav-link" target="_blank">
                    Payment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </li>
            <li class="nav-item">
                <div [routerLink]="['/contact']" class="nav-link" (click)="menuToggle($event)">Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </li>
            <!-- <li class="nav-item" >
                    <a [routerLink]="['/signup']" class="nav-link">Sign In / Sign Up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>   -->
        </ul>
    </div>

</nav>