<div class="wrapper">
    <div class="page-header section-dark">
        <!-- <video id="video" autoplay loop muted playsinline src="assets/img/banner.mp4"></video> -->
        <img src="assets/img/banner.jpg">
        <div class="overlay">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-body">
                        <h2>Please Identify Yourself.</h2>
                        <form>
                            <div class="row row">
                                <div class="col-md-12">
                                    <input class="form-radio" type="radio" name="gender" value="male"> I am a Parent/Guardian
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-radio" type="radio" name="gender" value="female"> I am a Student
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-radio" type="radio" name="gender" value="other"> I am a Tutor/Teacher looking for students
                                </div>
                            </div>
                            <div style="float: right; margin-top: 1em;">
                                <button class="btn btn-primary" (click)="submit()">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center" style="background-color: rgb(255, 255, 255)!important;">
        <div class="col-md-11 mr-auto ml-auto">
            <div class="row">
                <div class="col-md-12" style="border:none;">
                    <ul class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item" *ngFor="let item of url;let i=index">
                            <a role="button" (click)="buttonClick(item)">{{item}}
                                <span *ngIf="i < i-1">/</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="card card-header">
                        <span style="margin-left: -2em;">Contact Us
                        </span>
                    </div>
                    <div class="card card-body">
                        <p class="awesome">
                            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;8041627767, &nbsp;7899342386, &nbsp;9036198865 </p>
                        <small style="text-align: center;font-size: 12px;">(call timing: Monday to Saturady, 8AM to 9PM)</small>
                        <p class="awesome">
                            <i class="fa fa-whatsapp"></i> &nbsp;8105118078</p>
                        <small style="text-align: center;font-size: 12px;">Or</small>
                        <p class="awesome" style="font-size: 16px!important;">
                            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Email Us On:
                            <br> csquarebangalore@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-header">
                        Why CsquareEducation
                    </div>
                    <div class="card card-body" style="text-align: justify;">
                        CsquareEducation is here in Bangalore to provide you a platform to connect with the best home tutors in Bangalore. Our top
                        tutors at home in Bangalore are providing excellent services at your convenient time.Top Home tutors
                        in Bangalore provided by CsquareEducation are dedicated and enriched with the latest knowledge required
                        to satisfy the curious mind of a child. The best home tutors in Bangalore put efforts to meet all
                        your requirements and providing just best home tuitions in Bangalore. We are here at your service
                        to help you find the best home tutors in Bangalore for your child.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>