<div class="wrapper">
    <div class="page-header section-dark">
        <!-- <video id="video" autoplay loop muted playsinline src="assets/img/banner.mp4"></video> -->
        <img src="assets/img/banner.jpg">
        <div class="overlay">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-body">
                        <h2>Please Identify Yourself.</h2>
                        <form [formGroup]="formData">
                            <div class="row row">
                                <div class="col-md-12">
                                    <input class="form-radio" type="radio" formControlName="leadType" value="Parent"> I am a Parent/Guardian
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-radio" type="radio" formControlName="leadType" value="Student"> I am a Student
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-radio" type="radio" formControlName="leadType" value="Tutor"> I am a Tutor/Teacher looking for students
                                </div>
                            </div>
                            <div style="float: right; margin-top: 1em;">
                                <button class="btn btn-primary" (click)="submit()">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center" style="background-color: rgb(255, 255, 255)!important;">
        <div class="col-md-11 mr-auto ml-auto">
            <div class="row">
                <div class="col-md-12" style="border:none;">
                    <ul class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item" *ngFor="let item of url;let i=index">
                            <a role="button" (click)="buttonClick(item,i)">{{item}}
                                <span *ngIf="i < i-1">/</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="card-header">
                        <span style="margin-left: -2em;">Contact Us
                        </span>
                    </div>
                    <div class="card-body">
                        <p class="awesome">
                            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;8041627767, &nbsp;7899342386, &nbsp;9036198865 </p>
                        <small style="margin-left:18%;font-size: 12px;">(call timing: Monday to Saturady, 8AM to 9PM)</small>
                        <p class="awesome">
                            <i class="fa fa-whatsapp"></i> &nbsp;8105118078</p>
                        <small style="margin-left:48%;font-size: 12px;">Or</small>
                        <p class="awesome" style="font-size: 16px!important;">
                            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Email Us On:
                            <br> csquarebangalore@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">
                        Why CsquareEducation
                    </div>
                    <div class="card-body" style="text-align: justify;">
                        Are you searching for home tuition in Bangalore? Csquare Education is the right platform for you to connect you with the best private tutor to provide the excellent guidance and education to fulfil your need and requirement. We have expertise in offering
                        home and private tuition for all classes along with private tuitions for competitive examinations too. Our services are offered for the whole city. Our main goal is to provide the high quality and effective tutoring so that students
                        show the improvement in their grades in the result. We provide the best private tuition experiences to the parents and kids by providing the experienced as well as reliable home tuition faculty. Csquare Education is the one stop
                        solution for all your problems. We excel in offering home tuitions for all subjects at your convenient timings. We help parents and students in finding the best home tutor who can guide and teach the students at their home only.
                        Guidance in education is very important as students sometime so not understand which is best for them to help in their studies. In schools, students sometimes hesitate to ask questions. But at the home tuition in their home environment,
                        they don’t feel shy at all and they just clear all their doubts easily.Csquare Education has excellence in home tuition as we provide only highly skilled home tutors who have qualification along with the experience and of course
                        passion for teaching. We provide a wide array of options for the parents and students to select the required home tutor as per their convenience. You will be glad to know that providing tuition is not only single aim of our online
                        portal but to enhance the performance of kids in the class and result is our mission. To get success in our mission, we keep the track of performance of not only but also keep an eye on the performance of home tutor in Bangalore.
                        Each and every private tutor is monitored weekly and monthly.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>