.container {
    margin-top: 4em;
}

.card {
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #fff !important;
}

.card-header {
    border: 1px solid #ccc;
    color: rgb(243, 243, 243) !important;
    text-align: center;
    font-size: 35px;
    border-radius: 0px !important;
    background-color: #5e50ad;
}

.card-body {
    background-color: #fff !important;
    text-align: left;
    margin-bottom: 2em;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold !important;
}

.btn-primary {
    background: #382f69;
    border: none;
    border-radius: 20px;
}

.btn-primary:hover {
    background: #00bcd4;
}

.btn-default {
    background: #00bcd4;
    border: none;
    border-radius: 20px;
}

.btn-default:hover {
    background: #382f69;
}

.btn-danger {
    border: none;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .tagline {
        font-size: 1em;
        display: inline-block;
        color: rgb(8, 5, 5);
    }
    .social-line .text-center {
        display: inline-block;
        text-align: center !important;
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 12px;
    }
}