.back{
    margin-top: 10em;
    padding-left: 5em;
}
.row1{
    margin-top: 8em;
    padding: 0 2em 0 2em;
}
.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    border: 1px solid #ccc;
    font-size: 2em;
    color: #f8591f;
}

.title {
    color: #f8591f !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}