.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.card-header {
    border: 1px solid #ccc;
    font-size: 2em;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #5e50ad;
    color: #fff !important;
    padding-bottom: 2%;
    padding-top: 2%;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}