.card-body {
    border: 1px solid #ccc;
    text-align: justify;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.card-header {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 2em;
    color: #f8591f;
}

.title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.info-title {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-category {
    color: #f8591f !important;
    font-family: 'Raleway', sans-serif;
}

.card-body {
    font-weight: bold;
}