<app-banner></app-banner>
<div class="container-fluid">
    <div class="row" style="margin-top: 6em!important;">
        <div class="col-md-8 mobile">
            <div class="card">
                <div class="card-header">
                    <span>Why CsquareEducation
                                                <i class="fa fa-question fa-5x" aria-hidden="true"></i>
                                        </span>
                </div>
                <div class="card-body">
                    <video onloadstart="this.volume=0" width="100%" height="300px;!important" controls autoplay>
                    <source src="assets/video/CsquareEducation Video Promo [360p].mp4" type="video/webm" />
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <span style="margin-left: -2em;">Contact Us
                                                <i class="fa fa-vcard-o fa-5x" aria-hidden="true"></i>
                                        </span>
                </div>
                <div class="card-body">
                    <p class="awesome">
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;8041627767, &nbsp;7899342386, &nbsp;9036198865 </p>
                    <small style="margin-left: 20%;font-size: 12px;">(call timing: Monday to Saturady, 8AM to 9PM)</small>
                    <p class="awesome">
                        <i class="fa fa-whatsapp"></i> &nbsp;8105118078</p>
                    <small style="margin-left: 50%;font-size: 12px;">Or</small>
                    <p class="awesome" style="font-size: 16px!important;">
                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Email Us On:
                        <br> csquarebangalore@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="card card-header" style="margin-top: 3em!important;">
        <div class="row">
            <div class="col-md-2">
                <span>
                                        <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
                                </span>
            </div>
            <div class="col-md-8">
                <h2>Our Services</h2>
            </div>
            <div class="col-md-2">
                <span>
                                        <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
                                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 service-dis">
            <img class="img img-thumbnail service-img" src="assets/img/C1.jpg" alt="home tuition bangalore, private tuition" />
        </div>
        <div class="col-md-6 service-para">
            <h5>1. Home/Private Tuition At Door Steps</h5>
            <h3>Are you looking for best home tuition for your children? So you are at a right place to choose a perfect home tuition for your kid. Selecting a best home tutor for your kids is bit tricky task and involves lot and lots of research and time
                as well. So in this type of situation Csquareeducation will play a major role. In Csquareeducation we will provide every possible support and guidance to parents, students as well as home tutors. This is one of the best as well as unique
                online portal which will provides wide opportunities to students and parents in order to select their best and required home tutor for their development.
                <br>
            </h3>
            <a role="button" (click)="isCollapsedS1 = !isCollapsedS1" [attr.aria-expanded]="!isCollapsedS1" aria-controls="collapseExampleS1">
                <div class="icon icon-danger">
                    <p style="text-align:center!important;"><br>
                        <button class="btn btn-primary">Read More...</button>
                    </p>
                </div>
            </a>
            <div id="collapseExampleS1" [ngbCollapse]="!isCollapsedS1">
                <div class="card card-body">
                    <h4>Csquareeducation is one of the perfect web portal which provides best as well as professionally experienced home tutor. In Csquareeducation our tutors are highly skilled with well experienced in their related qualifications. In Csquareeducation
                        all tutor’s performance gets monitored every week and every month by a well defined professional team. Csquareeducation, not only monitors the tutor’s performance but we will also help students who have registered with us, we will
                        provide all kinds of possible help for his/her academic growth as well as social growth.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 service-dis laptop">
            <img class="img img-thumbnail service-img" src="assets/img/C3.jpg" alt="home tuition bangalore, private tuition" />
        </div>
        <div class="col-md-6 service-para">
            <h5>2. Home/Private Tutor Jobs</h5>
            <h3>A perfect and best quality of a successful tutor is when he/she is able to communicate with their students and able to grab their attention towards studies. The supreme art of a best tutor is to awaken the inbuilt knowledge of and creative
                skills from students. In Csquareeducation we believe that our secret of success and tremendous growth is just because of tremendous efforts, dedication as well as hard work from our faculties members. Csquareeducation always provide a
                best and wide opportunity and a convenient environment to our tutors.
                <br>
            </h3>
            <a role="button" (click)="isCollapsedS2 = !isCollapsedS2" [attr.aria-expanded]="!isCollapsedS2" aria-controls="collapseExampleS2">
                <div class="icon icon-danger">
                    <p style="text-align:center!important;"><br>
                        <button class="btn btn-default">Read More...</button>
                    </p>
                </div>
            </a>
            <div id="collapseExampleS2" [ngbCollapse]="!isCollapsedS2">
                <div class="card card-body">
                    <h4>Only because of a best tutor, students will able to concentrate on their studies without distracting their mind on other activities. Hence best tutor is required to achieve any kind of achievements from students. We are offering both
                        part time as well as full time tutor jobs. We consider our tutors as our own members and are asset for Csquareeducation.</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 service-dis mobile">
            <img class="img img-thumbnail service-img" src="assets/img/C3.jpg" alt="home tuition bangalore, private tuition" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 service-dis">
            <img class="img img-thumbnail service-img" src="assets/img/C2.jpg" alt="home tuition bangalore, private tuition" />
        </div>
        <div class="col-md-6 service-para">
            <h5>3. Online Tuition Coming Soon</h5>
            <h3>As tremendous increase in technology day by day, Internet has brought a wonderful vibrant changes in all sectors, particularly in the academic world. Now-a-days students are opting to do all their education related activities through internet,
                which includes, solving question papers, doing online projects, attending online classes etc. So technology has made very easy for the students to provide all the education related information within short time. So it is now possible for
                every students and learners to learn, know about information and receive instructions, anywhere and at their own convenient timings through e-learning classes.
                <br>
            </h3>
            <a role="button" (click)="isCollapsedS3 = !isCollapsedS3" [attr.aria-expanded]="!isCollapsedS3" aria-controls="collapseExampleS3">
                <div class="icon icon-danger">
                    <p style="text-align:center!important;"><br>
                        <button class="btn btn-primary">Read More...</button>
                    </p>
                </div>
            </a>
            <div id="collapseExampleS3" [ngbCollapse]="!isCollapsedS3">
                <div class="card card-body">
                    <h4>There are lot of benefits with this online classes or e-learning classes. Particularly these sort of classes are used for the students who are working part-time or full-time & busy working professionals, who can’t spend enough time
                        or separate time to attend regular classes or spending extra time to go for a coaching center. For those student’s online tuition or online classes were one of the perfect solution.</h4>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="work-flow" style="margin-top: 6em!important;">
        <h2 class="work-flow-heading">Work Process</h2>
        <div class="row">
            <ul class="process">
                <li class="process-item">
                    <span class="pro-step first">01</span>
                    <p class="bottom20" style="margin-left: 4em;">Enquire For Tutor</p>
                </li>
                <li class="process-item">
                    <span class="pro-step second">02</span>
                    <p class="bottom20">Schedule A Demo Class</p>
                </li>
                <li class="process-item">
                    <span class="pro-step third">03</span>
                    <p class="bottom20">Subscribe</p>
                </li>
                <li class="process-item last">
                    <span class="pro-step">04</span>
                    <p class="bottom20">Start Class at Home</p>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="data-result" style="margin-top: 6em!important;">
        <div class="row">
            <div class="col-md-4 data-view">
                Client's
                <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                <br> {{usersCount}}+
            </div>
            <div class="col-md-4 data-view">
                Tutor's
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <br> {{tutorCount}}+
            </div>
            <div class="col-md-4 data-view">
                Review's
                <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                <br> {{studentCount}}+
            </div>
        </div>
    </div>
    <hr/>
    <div class="testimonal" style="margin-top: 4em;">
        <h6>Testimonials</h6>
        <h2 style="color:#313131!important;margin-bottom: 1em;">What People Say</h2>
        <ngu-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
            <ngu-item NguCarouselItem>
                <div class="row">
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test1">
                            <p class="bottom40">
                                One of the best place to take tuition. Faculty and support provided by this institution is of best quality. My brother scored 95.6% in 10th board after getting good support and faculty by Csquareeducation. They help in all possible way. All the best,
                                keep it up.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/Nitesh.jpg">
                        </div>
                        <h4 class="name">Nitesh Kumar</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test2">
                            <p class="bottom40">
                                I have been working for CsquareEducation since 2015 and it has been amazing journey with CsquareEducation. They helped me in all possible ways from getting student's near by my place as well as with working hour according to my convenience.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/img/sinchana.jpg">
                        </div>
                        <h4 class="name">Sinchana</h4>
                        <small class="tagline">Tutor For 3 Years</small>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test1">
                            <p class="bottom40">
                                I got very good tutor for my brother who is writing 12th exam even very good support from csquare. I can say csquare education is an one of the best home tuition provider in Bangalore. They helped us not only with studies but also in personality development.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/vidya.jpg">
                        </div>
                        <h4 class="name">Vidya Sagar</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                </div>
            </ngu-item>
            <ngu-item NguCarouselItem>
                <div class="row">
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test2">
                            <p class="bottom40">
                                Very reliable for quality home tuition. Best home tutor provider according to me. I took home tuition for my brother and he got very good marks in 10th. They help us in many other possibilites such as student through-out monitoring in their progress etc.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/Vinay.jpg">
                        </div>
                        <h4 class="name">Vinay Hawargi</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test1">
                            <p class="bottom40">
                                I got tutor from csquare, but he was creating to much problem to me, so I asked csquare to solved my problem. Csquare changed that tutor and aligned with another tutor in one week. Overall I can say good support and better result for student as well as
                                parents.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/Anuj.jpg">
                        </div>
                        <h4 class="name">Anuj Agarwal</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test2">
                            <p class="bottom40">
                                Hello.. i'm sharing my personal revel in, Csquare Education teachers are very experience first they increase our basic expertise to any subject matter and solve issues to low degree to high level, and teachers are very supportive and helpfull too.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/Ujwal.jpg">
                        </div>
                        <h4 class="name">Ujjwal Agrawal</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                </div>
            </ngu-item>
            <ngu-item NguCarouselItem>
                <div class="row">
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test1">
                            <p class="bottom40">
                                I got best home tutor for my children where the service from csquare education is systematically reviewing my child's academics progress, I found best home tutor in Bangalore. Thank you CsquareEducation for amazing service.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/pradeep.jpg">
                        </div>
                        <h4 class="name">Pradeep</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted2"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test2">
                            <p class="bottom40">
                                Sometimes tutors are creating problem, but Company is providing very good support...I am getting service for my kid for last 3 years and he is doing good. Overall I am happy with support and service from CsquareEducation.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/RahulSublime.jpg">
                        </div>
                        <h4 class="name">Rahul Tayal</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                    <div class="col-sm-4" style="text-align: center;">
                        <span class="quoted1"><i class="fa fa-quote-right"></i></span>
                        <div class="review-test1">
                            <p class="bottom40">
                                I got very good tutor from CsquareEducation. They are doing regular monitoring and even once i got issue with tutor but they are resolved that issue very nicely. Overall service is amazing. Keep it up CsquareEducation.
                            </p>
                        </div>
                        <div class="review-photo">
                            <img src="assets/review/sandesh.jpg">
                        </div>
                        <h4 class="name">Sandesh Kumar Singh</h4>
                        <small class="tagline">Our Client</small>
                    </div>
                </div>
            </ngu-item>
            <button NguCarouselPrev class='leftRs'>Previous</button>
            <button NguCarouselNext class='rightRs'>Next</button>
        </ngu-carousel>
    </div>
    <hr/>
    <div class="card mobile" style="margin-top: 6em!important;margin-bottom: 6em;">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <img class="img img-thumbnail" src="assets/img/news.jpg" alt="home tuition bangalore, private tuition" />
                </div>
                <div class="col-md-10">
                    <h2>CsquareEducation In Media</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="assets/img/glassdoor-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br>
                    <a role="button" class="btn btn-default link" href="https://www.glassdoor.co.in/Reviews/CsquareEducation-Reviews-E1798051.htm" target="_blank">GlassDoor</a>
                </div>
                <div class="col-md-2">
                    <img src="assets/img/e27-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br>
                    <a role="button" class="btn btn-primary link" href="https://e27.co/startup/csquareeducation" target="_blank">e27</a>
                </div>
                <div class="col-md-2">
                    <img src="assets/img/youngbuzz-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br>
                    <a role="button" class="btn btn-default link" href="https://www.youngbuzz.com/tutors/csquare-education-btm-layout-bangalore/courses/jee-advance" target="_blank">YoungBuzz</a>
                </div>
                <div class="col-md-2">
                    <img src="assets/img/connect2india-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br>
                    <a role="button" class="btn btn-primary link" href="http://connect2india.com/Csquare-Education/3455050" target="_blank">connect2india</a>
                </div>
                <div class="col-md-2">
                    <img src="assets/img/datafox-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br>
                    <a role="button" class="btn btn-default link" href="https://datafox.com/csquareeducation" target="_blank">Datafox</a>
                </div>
                <div class="col-md-2" style="border-right: none!important;">
                    <img src="assets/img/dragdeal-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br>
                    <a role="button" class="btn btn-primary link" href="https://www.dragdeal.com/business/36817/csquare-education/bangalore" target="_blank">DragDeal</a>
                </div>
            </div>
        </div>
    </div>
</div>