.container-fluid {
    margin-top: 2em;
}

.fa-5x {
    font-size: 100px;
}

.btn-primary {
    background: #00bcd4;
    border: none;
    border-radius: 20px;
}

.btn-primary:hover {
    background: #643094;
}

.btn-default {
    background: #643094;
    border: none;
    border-radius: 20px;
}

.btn-default:hover {
    background: #00bcd4;
}

.card-header {
    border: 1px solid #ccc;
    color: #fff !important;
    text-align: center;
    font-size: 35px;
    border-radius: 0px !important;
    background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);
}

.card-body {
    background-color: #fff !important;
    border: 1px solid #ccc;
}

.awesome {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #313131;
    font-weight: 700;
    -webkit-animation: example 10s infinite;
    /* Safari 4.0 - 8.0 */
    animation: example 10s infinite;
}

h6 {
    text-align: center;
    color: #00bcd4;
}

.quoted1 .fa {
    height: 50px!important;
    width: 50px!important;
    background: #00bcd4;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    z-index: 1;
    position: relative;
}

.review-test1 {
    background: #f6f6f6;
    padding: 4.25rem 2.5rem;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    text-align: justify;
    position: relative;
    transition: all .4s ease-in;
    margin-top: -20px;
}

.review-test1:hover {
    border: none;
    color: #fff!important;
    background: #00bcd4!important;
}

.quoted2 .fa {
    height: 50px!important;
    width: 50px!important;
    background: #643094;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    z-index: 1;
    position: relative;
}

.review-test2 {
    background: #f6f6f6;
    padding: 4.25rem 2.5rem;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    text-align: justify;
    position: relative;
    transition: all .4s ease-in;
    margin-top: -20px;
}

.review-test2:hover {
    border: none;
    color: #fff!important;
    background: #643094!important;
}

.leftRs {
    display: none!important;
}

.rightRs {
    display: none!important;
}

.review-photo img {
    height: 100px!important;
    width: 100px!important;
    margin-top: -50px!important;
    border-radius: 50%!important;
    display: inline-block!important;
    position: relative!important;
    z-index: 1;
}

.bottom40 {
    margin-bottom: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.name {
    text-align: center!important;
    color: #212331;
    font-size: 1.125rem!important;
    font-weight: 500!important;
    line-height: 1.2!important;
    font-family: 'Open Sans', sans-serif!important;
}

.tagline {
    color: #00bcd4;
    font-size: 80%!important;
    font-weight: 400!important;
    text-align: center!important;
}

@-webkit-keyframes example {
    0% {
        color: #000
    }
    10% {
        color: #f71e0f
    }
    20% {
        color: #f84701
    }
    30% {
        color: #9fa103
    }
    40% {
        color: rgb(59, 168, 8)
    }
    50% {
        color: #0c968a
    }
    60% {
        color: rgb(0, 81, 255)
    }
    70% {
        color: rgb(94, 9, 252)
    }
    80% {
        color: #ff00d4
    }
    90% {
        color: #d400ff
    }
    100% {
        color: rgb(255, 8, 8)
    }
}


/* Standard syntax */

@keyframes example {
    0% {
        color: #000
    }
    10% {
        color: #f71e0f
    }
    20% {
        color: #f84701
    }
    30% {
        color: #9fa103
    }
    40% {
        color: rgb(59, 168, 8)
    }
    50% {
        color: #0c968a
    }
    60% {
        color: rgb(0, 81, 255)
    }
    70% {
        color: rgb(94, 9, 252)
    }
    80% {
        color: #ff00d4
    }
    90% {
        color: #d400ff
    }
    100% {
        color: rgb(255, 8, 8)
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(0, 0, 0);
}

@media(max-width: 500px) {
    .first {
        margin-left: 0px;
    }
    .fa-5x {
        font-size: 30px;
    }
    .card-header {
        font-size: 24px;
        margin: 0px;
    }
    .card-body {
        margin: 0px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .mobile {
        display: none;
    }
}

.d-block {
    border-radius: 50%;
    width: 100px !important;
    height: 100px !important;
}

h2 {
    text-align: center;
    color: #fff !important;
    font-size: 35px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h5 {
    text-align: center;
    color: #00bcd4 !important;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.work-flow {
    background: linear-gradient(90deg, #00e4ce 31%, #00abc9 69%);
}

.work-flow-heading {
    padding-top: 14px;
    color: #fff!important;
    font-weight: 300!important;
    font-size: 3.5rem!important;
    text-decoration: none;
    font-family: inherit!important;
}

ul {
    list-style: none;
    margin-left: 4em;
}

li {
    margin-top: 4em;
    margin-left: 5em;
    display: inline-block!important;
    padding-right: 4em;
    padding-left: 4em;
    position: relative;
}

.first::before {
    content: ''!important;
    position: absolute!important;
    top: 25%!important;
    left: -50%!important;
    width: 70%!important;
    height: 1px!important;
    background: #fff!important;
    z-index: 1!important;
}

.first:first-child::before {
    display: none;
}

.second::before {
    content: ''!important;
    position: absolute!important;
    top: 27%!important;
    left: -58%!important;
    width: 79%!important;
    height: 1px!important;
    background: #fff!important;
    z-index: 1!important;
}

.third::before {
    content: ''!important;
    position: absolute!important;
    top: 25%!important;
    left: -100%!important;
    width: 128%!important;
    height: 1px!important;
    background: #fff!important;
    z-index: 1!important;
}

.last::before {
    content: ''!important;
    position: absolute!important;
    top: 25%!important;
    left: -53%!important;
    width: 76%!important;
    height: 1px!important;
    background: #fff!important;
    z-index: 1!important;
}

li:first-child::before {
    display: none;
}

.pro-step {
    display: inline-block!important;
    height: 90px;
    line-height: 26px;
    width: 90px!important;
    line-height: 90px;
    border: 1px solid #fff;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 1em;
}

.pro-step:hover {
    background-color: #fff!important;
    color: #00e4ce!important;
}

.bottom20 {
    color: #fff!important;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}

.bottom25 {
    color: #fff!important;
    font-size: 14px;
}

.data-result {
    background: linear-gradient(90deg, #423f9c 31%, #862359 69%);
    background-image: linear-gradient(90deg, rgb(66, 63, 156) 31%, rgb(134, 35, 89) 69%);
}

.slider {
    margin-left: 12em;
    background-color: #fff;
}

.fa-5x {
    font-size: 100px;
}

.service-img {
    height: 400px;
    width: 650px;
}

h3 {
    font-size: 14px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    color: #212331 !important;
}

h4 {
    font-size: 14px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    color: #212331 !important;
}

.link {
    margin-left: 4em;
}

.review-pic {
    margin-top: 4em;
}

.checked {
    color: orange;
}

.service-dis {
    margin-left: 6em;
    margin-top: 1em;
}

.service-para {
    margin-left: 6em;
    margin-top: 5em;
}

.data-view {
    text-align: center;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.bottom10 {
    color: #fff!important;
    margin-bottom: 20px;
    font-size: 14px;
}

@media(min-width: 500px) {
    .laptop {
        display: none;
    }
    .data-view {
        margin: 0px;
        font-size: 24px;
    }
}

@media(max-width: 500px) {
    h2 {
        margin: 0px;
        padding: 0px;
        font-size: 24px !important;
    }
    .fa-5x {
        font-size: 24px;
    }
    .mobile {
        display: none;
    }
    .slider {
        margin-left: 0px;
    }
    .service-img {
        margin-left: 5em;
        width: 200px !important;
        height: 200px !important;
    }
    h4 {
        font-size: 12px;
        font-weight: none;
    }
    h3 {
        font-size: 14px;
        font-weight: none;
    }
    .main {
        margin: 0px;
    }
    .service-dis {
        margin: 0px;
        margin-left: 0px;
        margin-top: 1em;
    }
    .service-para {
        margin: 0px;
        margin-left: 0px;
        margin-top: 1em;
    }
}

:host /deep/ .ngucarouselPointDefault[_ngcontent-c4] .ngucarouselPoint[_ngcontent-c4] li[_ngcontent-c4] {
    background: #00bcd4!important;
}

:host /deep/ .ngucarouselPointDefault[_ngcontent-c4] .ngucarouselPoint[_ngcontent-c4] li.active[_ngcontent-c4] {
    background: #643094!important;
}

.enquire-detail {
    margin: 3% 5% 0 15%;
    text-align: justify;
}