<div class="container-fluid">
    <div class="row first">
            <div class="row row">
                    <div class="col-md-8 mobile">
                            <div class="card card-header">
                                    <span>Why CsquareEducation <i class="fa fa-question fa-5x" aria-hidden="true"></i></span>
                            </div>
                            <div class="card card-body">
                                    <video onloadstart="this.volume=0" width="100% "  height="300px;!important" controls autoplay>
                                            <!-- <source src="PATH_TO_MP4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
                                            <source src="assets/video/CsquareEducation Video Promo [360p].mp4" type="video/webm" />
                                            </video>  
                            </div>
                    </div>
                    <div class="col-md-4">
                                    <div class="card card-header">
                                                    <span style="margin-left: -2em;">Contact Us <i class="fa fa-vcard-o fa-5x" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="card card-body">
                                            <p class="awesome">
                                            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;8041627767, &nbsp;7899342386, &nbsp;9036198865 </p>
                                            <small style="text-align: center;font-size: 12px;">(call timing: Monday to Saturady, 8AM to 9PM)</small>
                                            <p class="awesome">
                                            <i class="fa fa-whatsapp"></i> &nbsp;8105118078</p>
                                            <small style="text-align: center;font-size: 12px;">Or</small>
                                            <p class="awesome" style="font-size: 16px!important;">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Email Us On: <br>
                                            csquarebangalore@gmail.com									
                                            </p>
                                            <!-- <p>
                                            With Us You Get :-<br>
                                            <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Best Quality Home Tutor/Private Tutor.<br> 
                                            <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Full Monitoring of Home Tuition/Private Tuition.
                                            <br> <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Best Services and Support For Home Tuition/Private Tuition.
                                            <br> <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Flexibility To Select Home Tutor/Tuition Teacher.  
                                            </p>    -->
                                    </div>
                            </div>
            </div>                          
    </div>
    <hr/>
        <div class="card card-header">
            <div class="row">
                <div class="col-md-2">
                        <span><i class="fa fa-cogs fa-5x" aria-hidden="true"></i></span>
                </div>
                <div class="col-md-8">
                        <h2>Our Services</h2>
                </div>
                <div class="col-md-2">
                        <span><i class="fa fa-cogs fa-5x" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 service-dis">
                <img class="img img-thumbnail service-img" src="assets/img/C1.jpg" alt="home tuition bangalore, private tuition"/>
        </div>
        <div class="col-md-6 service-para">	
            <h5>1. Home/Private Tuition At Door Steps</h5>					 
                        <h3>Are you looking for best home tuition for your children? So you are at a
                         right place to choose a perfect home tuition for your kid. Selecting a best
                         home tutor for your kids is bit tricky task and involves lot and lots of
                         research and time as well. So in this type of situation Csquareeducation will
                         play a major role. In Csquareeducation we will provide every possible
                         support and guidance to parents, students as well as home tutors. This
                         is one of the best as well as unique online portal which will provides wide
                         opportunities to students and parents in order to select their best and
                         required home tutor for their development.<br>						
                        </h3>                          
                           <a role="button" (click)="isCollapsedS1 = !isCollapsedS1"
                           [attr.aria-expanded]="!isCollapsedS1" aria-controls="collapseExampleS1">
                              <div class="icon icon-danger">
                                 <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                              </div>
                       </a>                        
                       <div id="collapseExampleS1" [ngbCollapse]="!isCollapsedS1">
                         <div class="card card-body">
                             <h4>Csquareeducation is one of
                             the perfect web portal which provides best as well as professionally
                             experienced home tutor. In Csquareeducation our tutors are highly skilled
                             with well experienced in their related qualifications.
                             
                             In Csquareeducation all tutor’s performance gets monitored every
                             week and every month by a well defined professional team. Csquareeducation, 
                             not only monitors the tutor’s
                             performance but we will also help students who have registered with us, we
                             will provide all kinds of possible help for his/her academic growth as well
                             as social growth.</h4>
                         </div>
                       </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4 service-dis laptop">
                    <img class="img img-thumbnail service-img" src="assets/img/C3.jpg" alt="home tuition bangalore, private tuition"/>
            </div>
            <div class="col-md-6 service-para">		
                    <h5>2. Home/Private Tutor Jobs</h5>				 
                            <h3>A perfect and best quality of a successful tutor is when he/she is able to
                                    communicate with their students and able to grab their attention towards
                                    studies. The supreme art of a best tutor is to awaken the inbuilt knowledge
                                    of and creative skills from students. In Csquareeducation we believe that our
                                    secret of success and tremendous growth is just because of tremendous
                                    efforts, dedication as well as hard work from our faculties members.
                                    Csquareeducation always provide a best and wide opportunity and a
                                    convenient environment to our tutors.<br>						
                            </h3>                          
                               <a role="button" (click)="isCollapsedS2 = !isCollapsedS2"
                               [attr.aria-expanded]="!isCollapsedS2" aria-controls="collapseExampleS2">
                                  <div class="icon icon-danger">
                                     <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                                  </div>
                           </a>                        
                           <div id="collapseExampleS2" [ngbCollapse]="!isCollapsedS2">
                             <div class="card card-body">
                                 <h4>Only because of a best tutor, students will able to concentrate on their
                                        studies without distracting their mind on other activities. Hence best tutor is
                                        required to achieve any kind of achievements from students. We are
                                        offering both part time as well as full time tutor jobs. We consider our tutors
                                        as our own members and are asset for Csquareeducation.</h4>
                             </div>
                           </div>
            </div>
            <div class="col-md-4 service-dis mobile">
                    <img class="img img-thumbnail service-img" src="assets/img/C3.jpg" alt="home tuition bangalore, private tuition"/>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 service-dis">
                        <img class="img img-thumbnail service-img" src="assets/img/C2.jpg" alt="home tuition bangalore, private tuition"/>
                </div>
                <div class="col-md-6 service-para">	
                        <h5>3. Online Tuition Coming Soon</h5>					 
                                <h3>As tremendous increase in technology day by day, Internet has brought a wonderful vibrant changes in all sectors,
                                     particularly in the academic world. Now-a-days students are opting to do all their education related activities
                                     through internet, which includes, solving question papers, doing online projects, attending online classes etc.
                                     So technology has made very easy for the students to provide all the education related information within short time.
                                     So it is now possible for every students and learners to learn, know about information and receive instructions, anywhere 
                                     and at their own convenient timings through e-learning classes.<br>						
                                </h3>                          
                                   <a role="button" (click)="isCollapsedS3 = !isCollapsedS3"
                                   [attr.aria-expanded]="!isCollapsedS3" aria-controls="collapseExampleS3">
                                      <div class="icon icon-danger">
                                         <p style="text-align:center!important;"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></p>
                                      </div>
                               </a>                        
                               <div id="collapseExampleS3" [ngbCollapse]="!isCollapsedS3">
                                 <div class="card card-body">
                                     <h4>There are lot of benefits with this online classes or e-learning classes. Particularly these sort of classes are used
                                        for the students who are working part-time or full-time & busy working professionals, who can’t spend enough time or 
                                        separate time to attend regular classes or spending extra time to go for a coaching center. For those student’s online 
                                        tuition or online classes were one of the perfect solution.</h4>
                                 </div>
                               </div>
                </div>
            </div>
    <hr/>
        <div class="data-result">
                <div class="row">
                        <div class="col-md-4 data-view">
                                Client's <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i><br>
                                {{usersCount}}+
                        </div>
                        <div class="col-md-4 data-view">
                                Tutor's <i class="fa fa-user fa-2x" aria-hidden="true"></i><br>
                                {{tutorCount}}+
                        </div>
                        <div class="col-md-4 data-view">
                                Review's <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i><br>
                                {{studentCount}}+
                        </div>
                    </div>
        </div>
    <hr/> 
    <div class="card card-header">
            <div class="row">
                    <div class="col-md-2">
                            <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10">
                            <h2><a href="https://www.google.co.in/search?q=csquareeducation+review&rlz=1C1SQJL_enIN771IN771&oq=csquaree&aqs=chrome.5.69i59j69i57j69i60l3j69i59.5493j0j7&sourceid=chrome&ie=UTF-8#lrd=0x3bae150fa4ad474b:0xc8bf27d9c9790e32,1,,," target="_blank" style="color:#f8591f!important;">Customer's Review</a>
                            </h2>                            
                            <small style="font-size:14px;color:#000;margin-left: 1em;"> Click Here <i class="fa fa-arrow-up" aria-hidden="true"></i> To Check Google Review</small>
                        </div>
                </div>
    </div>
    <!-- <ngb-carousel class="slider">
        <ng-template ngbSlide>
            <div class="row">
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Nitesh Kumar</h4>
                                    <img src="assets/review/Nitesh.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p>
                                    One of the best place to take tuition.
                                    Faculty and support provided by this institution is of best quality.
                                    My brother scored 95.6% in 10th board after getting good support and faculty by Csquareeducation.
                                    All the best,keep it up</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4> Vidya Sagar</h4>
                                    <img src="assets/review/vidya.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p>I got very good tutor for my brother who is writing 12th exam even very good support from csquare. I can say csquare education is an one of the best home tuition provider in Bangalore.</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Vinay Hawargi</h4>
                                    <img src="assets/review/Vinay.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p>
                                        Very reliable for quality home tuition. Best home tutor provider according to me.
                                        I took home tuition for my brother and he got very good marks in 10th</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Anuj Agarwal</h4>
                                    <img src="assets/review/Anuj.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                <br><br>
                                <p> I got tutor from csquare, but he was creating to much problem to me, so I asked csquare to solved my problem. Csquare changed that tutor and aligned with another tutor in one week. Overall I can say good support.</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Ujjwal Agrawal</h4>
                                    <img src="assets/review/Ujwal.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p>
                                        Hello..<br>
                                        i'm sharing my personal revel in, Csquare Education teachers are very experience first they increase our basic expertise to any subject matter and solve issues to low degree to high level, and teachers are very supportive and helpfull too.</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Pradeep</h4>
                                    <img src="assets/review/pradeep.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                               <p> I got best home tutor for my children where the service from csquare education is systematically reviewing my child's academics progress, I found best home tutor  in Bangalore. thank you csquare education</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Rahul Tayal</h4>
                                    <img src="assets/review/RahulSublime.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                <br><br>
                                <p>
                                        Sometimes tutors are creating problem, but Company is providing very good support...Overall I am happy with support</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Sandesh Kumar Singh</h4>
                                    <img src="assets/review/sandesh.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p> I got very good tutor from CsquareEducation. They are doing regular monitoring and even once i got issue with tutor but they are resolved that issue very nicely.</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Shubham Srivastava</h4>
                                    <img src="assets/review/Viky.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p>
                                        Luckily I got the opportunity to work here. Lots of memory attached as it is one of the unequaled institute I came across in near time as the environment, culture, care, academics, timeliness, punctuality is given utter importance. They have a great and hardworking team and the prime thing is that the focus is on everyone. No one go unnoticed. I have seen lot of happy parents. Great work. #CsqaureEducation</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Abhishek Singh </h4>
                                    <img src="assets/review/Abhishek.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                <br><br>
                                <p>  I got an oppurtunity to work for CsquareEducation, can say ,Excellent institute. Hub of quality and highly qualified  tutors. Strongly recommend to guardians.</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Apporva</h4>
                                    <img src="assets/img/apoorva.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p> I have been working in CsquareEducation for about more than two years. It's good place to start as a tutor. Working hours are flexible and the environment is pretty good.</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-5" style="margin-top:2em;">
                    <div class="card card-body">
                        <div class="row row">
                            <div class="col-md-4">
                                    <h4>Sinchana</h4>
                                    <img src="assets/img/sinchana.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block review-pic">
                            </div>
                            <div class="col-md-8">
                                    <h4>a week ago</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                <br><br>
                                <p>   I am a B.E. graduate from mechanical department. I graduated from Oxford College of Engineering.
                                        I have teaching experience of 8 years as a home tutor in various reputed organization and i can take classes till 1st Year Engineering Students. 
                                       I am friendly to students and can handle different kind of students with ease.</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </ng-template>
    </ngb-carousel>  -->
<hr/>
<div class="card card-header mobile">
        <div class="row">
            <div class="col-md-2">
                    <img class="img img-thumbnail"  src="assets/img/news.jpg" alt="home tuition bangalore, private tuition"/>
                </div>
            <div class="col-md-10">
                    <h2>CsquareEducation In Media</h2>
                </div>
        </div>
</div>
<div class="card card-body mobile">
        <div class="row">
            <div class="col-md-2">
                    <img src="assets/img/glassdoor-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br> <a href="https://www.glassdoor.co.in/Reviews/CsquareEducation-Reviews-E1798051.htm" target="_blank">GlassDoor</a>
                </div>
            <div class="col-md-2">
                    <img src="assets/img/e27-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br><a href="https://e27.co/startup/csquareeducation" target="_blank">e27</a>
                </div>
            <div class="col-md-2">
                    <img src="assets/img/youngbuzz-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br><a href="https://www.youngbuzz.com/tutors/csquare-education-btm-layout-bangalore/courses/jee-advance" target="_blank">YoungBuzz</a>
                </div>
            <div class="col-md-2">
                    <img src="assets/img/connect2india-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br><a href="http://connect2india.com/Csquare-Education/3455050" target="_blank">connect2india</a>
                </div>
            <div class="col-md-2">
                    <img src="assets/img/datafox-logo.jpg" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br><a href="https://datafox.com/csquareeducation" target="_blank">Datafox</a>
                </div>
            <div class="col-md-2" style="border-right: none!important;">
                    <img src="assets/img/dragdeal-logo.png" alt="home tuition bangalore, private tuition" class="rounded mx-auto d-block">
                    <br><a href="https://www.dragdeal.com/business/36817/csquare-education/bangalore" target="_blank">DragDeal</a>
                </div>
        </div>
    </div> 
</div>